### Formatted String Literals

#### f at the beginning and curly pbraces containing expressions that will replaced with their values

In [2]:
name= "Emrah"
age = 25

In [7]:
f"Hello , {name}. You are {age}."

'Hello , Emrah. You are 25.'

In [8]:
F"Hello, {name}. You are {age}."

'Hello, Emrah. You are 25.'

In [10]:
f"{2 * 37}"

'74'

In [11]:
def to_lowercase(input):
    return input.lower()

In [14]:
name = "Emrah Sariboz"
f"{to_lowercase(name)} is funny:"

'emrah sariboz is funny:'

In [15]:
f"{name.lower()} is funny"

'emrah sariboz is funny'

In [23]:
class Comedian:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
    def __str__(self):
        return f"{self.first_name} {self.last_name} is {self.age}. "
    
    def __repr__(self):
        return f"{self.first_name} {self.last_name} is {self.age}. Surprise!"

### f-string will call str automatically. If you want to make sure to call __repr__, include conversion flag !r

In [25]:
new_comedian = Comedian("Emrah",'S', 25)
f"{new_comedian!r}"

'Emrah S is 25. Surprise!'

In [26]:
name = "emrah"
job = "researcher"
school = "NMSU"

In [36]:
message = (
    f"Hi {name}. " 
    f"You are a {job}. "
    f"You go to school at {school}")

In [37]:
message

'Hi emrah. You are a researcher. You go to school at NMSU'

In [38]:
researcher = {'name':'Emrah Sariboz', 'age' : 25}

In [42]:
f'The researcher is {researcher["name"]}, aged {researcher["age"]}.'

'The researcher is Emrah Sariboz, aged 25.'