In [1]:
type(100)

int

In [2]:
type(100.2)

float

In [3]:
2**3

8

In [7]:
age = 25
print(age)
type(age)

25

int

In [8]:
message = 111

In [10]:
hash_code = 12345

In [11]:
secret_message = message * hash_code

In [13]:
real_message = secret_message / hash_code
print(real_message)

111.0

In [20]:
# Comment

In [23]:
'I\'m not a spy!'

"I'm not a spy!"

In [24]:
'one'
'two'

'two'

In [29]:
word = 'hello'
word[-4]

'e'

In [30]:
alpha = 'abcdef'

In [31]:
alpha[0:3]

'abc'

In [32]:
alpha[2:4]

'cd'

In [33]:
import string

alph = string.ascii_lowercase

In [37]:
for i in alph:
    print(i, end = " ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [39]:
alph[2:]

'cdefghijklmnopqrstuvwxyz'

In [41]:
alph[:]

'abcdefghijklmnopqrstuvwxyz'

In [44]:
basic = 'hello world'

In [45]:
basic.upper()

'HELLO WORLD'

In [46]:
basic

'hello world'

In [47]:
basic = basic.upper()

In [54]:
basic.lower()

'hello world'

In [52]:
basic.split('E')

['H', 'LLO WORLD']

In [56]:
basic.split('O')

['HELL', ' W', 'RLD']

In [57]:
basic.split

In [76]:
user_name='Emrah is'
age = 25

In [79]:
print('{us} {a}'.format(us = user_name, a = age))

Emrah is 25

In [84]:
num = 123.456
print('The code is {:.2f}'.format(num))

The code is 123.46

# List

In [85]:
listt = [1,2,3, "las cruces"]
print(listt)

[1, 2, 3, 'las cruces']

In [86]:
listt[0]

1

In [89]:
listt[0:4]

[1, 2, 3, 'las cruces']

In [90]:
len(listt)

4

In [91]:
listt = [1,2,3,4]
listt.append(123)

In [92]:
listt

[1, 2, 3, 4, 123]

In [93]:
listt.pop()

123

In [94]:
listt

[1, 2, 3, 4]

In [95]:
listt.pop(0)

1

In [96]:
listt

[2, 3, 4]

In [98]:
listt.pop(2)

4

In [99]:
listt

[2, 3]

In [100]:
first_item = listt.pop(0)
print(first_item)

2

In [104]:
my_list = [1,2,3,4,5]
my_list.reverse()
my_list

[5, 4, 3, 2, 1]

In [105]:
my_listt = [1,4,2,66,12]

In [106]:
my_listt.sort()

In [109]:
my_listt

[1, 2, 4, 12, 66]

In [114]:
my_listt.insert(0, 'NEW')
my_listt.append('NEWNEW')
my_listt

['NEW', 'NEW', 'NEW', 'NEW', 'NEW', 1, 2, 4, 12, 66, 'NEWNEW']

In [115]:
nestedList = [1,2,[3,4,[5,6]]]

In [116]:
for i in nestedList:
    print(i)

1
2
[3, 4, [5, 6]]

In [117]:
nestedList[2][2][0]

5

# Dictionary

In [120]:
d= {'key1':'value1', 'key2':'value2', 'key3':'value3'}
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [121]:
d['elazig'] = 'emrah'

In [122]:
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'elazig': 'emrah'}

In [123]:
d = {'k1':10, 'k2':'stringy', 'k3':[1,2,3]}

In [124]:
d

{'k1': 10, 'k2': 'stringy', 'k3': [1, 2, 3]}

In [129]:
code_names = {"obama":'renegade',
             'bush':'trailblazer',
             'reagon':'rawhide',
             'ford':'passkey'}

In [130]:
code_names['obama']

'renegade'

In [133]:
code_names.keys()

dict_keys(['obama', 'bush', 'reagon', 'ford'])

In [134]:
code_names.values()

dict_values(['renegade', 'trailblazer', 'rawhide', 'passkey'])

In [135]:
code_names.items()

dict_items([('obama', 'renegade'), ('bush', 'trailblazer'), ('reagon', 'rawhide'), ('ford', 'passkey')])

# Tuples
### Tuples are almost as same as list however tuples are immutable

In [136]:
my_tuple = (1,2,3)
my_tuple[0]

1

In [138]:
type(my_tuple)

tuple

In [140]:
t= ('a','b','c','a')
t.index('b')

1

In [142]:
t.count('a')

2

# Set
### Unique elements

In [143]:
x = set()

In [144]:
type(x)

set

In [145]:
x.add(23)

In [146]:
x

{23}

In [147]:
x.add(123)
x.add(23)

In [148]:
x

{23, 123}

In [149]:
my_list = [11,1,1,1,1,2,3,2,23,23,23,23,23,3,4,5]
set(my_list)

{1, 2, 3, 4, 5, 11, 23}

In [150]:
my_set = {1,2,3,2,2,2,4,5}
type(my_set)

set

In [152]:
c = None

In [154]:
type(c)

NoneType

# Working with Files

In [158]:
pwd

In [191]:
myFile = open('C:\\Users\\Emrah Sariboz\\Machine-Learning-Portfolio\\Untitled Folder\\Programming Languages.txt')

In [192]:
#Reset the cursor to 0
myFile.seek(0)

0

In [193]:
myFile.read().split('\n')

'C++\nJava\nPython\nC\nRuby\n'

In [176]:
myFile.readlines()

['C++\n', 'Java\n', 'Python\n', 'C\n', 'Ruby\n']

In [187]:
#Two \\ to make sure Python doesn't interpret it as escape character

In [188]:
pwd

'C:\\Users\\Emrah Sariboz\\Machine-Learning-Portfolio\\Untitled Folder'

In [195]:
myFile = open('Programming Languages.txt')
lines = myFile.read()
print(lines)
myFile.close()

C++
Java
Python
C
Ruby

In [198]:
with open('Programming Languages.txt')  as myFile:
    lines = myFile.read()

In [200]:
print(lines)

C++
Java
Python
C
Ruby

In [201]:
with open('Programming Languages.txt', mode='w')  as myFile:
    myFile.write('Ruby\n')

In [202]:
with open('Programming Languages.txt')  as myFile:
    lines = myFile.read()
print(lines)

Ruby

In [203]:
with open('Months.txt', mode='w')  as myFile:
    myFile.write('Sep')

In [204]:
print(open('Months.txt').read())

Sep

In [207]:
with open('Programming Languages.txt','a') as f:
    f.write("java\nC++\n")

In [208]:
with open('Programming Languages.txt') as f:
    print(f.read())

Ruby
java
C++
java
C++