In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]

arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [4]:
d

{'a': 10, 'b': 20, 'c': 30}

### Series

In [6]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data=my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
d

{'a': 10, 'b': 20, 'c': 30}

In [15]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [16]:
pd.Series(data = [sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [17]:
ser1 = pd.Series([1,2,3,4], ['USA', 'Germany', 'USSR', 'Japon'])

In [18]:
ser1

USA        1
Germany    2
USSR       3
Japon      4
dtype: int64

In [27]:
ser2 = pd.Series([1,2,5,3],['USA', 'asxasx', 'USSR', 'Japon'] )
ser2

USA       1
asxasx    2
USSR      5
Japon     3
dtype: int64

In [31]:
ser2['USA']

1

In [32]:
ser2[1]

2

In [33]:
ser3 = pd.Series(labels)
ser3

0    a
1    b
2    c
dtype: object

In [34]:
ser1 + ser2

Germany    NaN
Japon      7.0
USA        2.0
USSR       8.0
asxasx     NaN
dtype: float64

### Data Frames

In [35]:
from numpy.random import rand

In [36]:
np.random.seed(101)

In [94]:
df = pd.DataFrame(rand(5,4), ['A','B','C','D','E'],['W','X','Y','Z'])

In [95]:
df

          W         X         Y         Z
A  0.784522  0.687242  0.695078  0.496867
B  0.975361  0.203528  0.299020  0.227656
C  0.048169  0.903971  0.080104  0.607216
D  0.630847  0.377942  0.013241  0.842219
E  0.384938  0.551666  0.710538  0.675279

In [96]:
type(df['W'])

pandas.core.series.Series

In [97]:
df[['W', 'Z']]

          W         Z
A  0.784522  0.496867
B  0.975361  0.227656
C  0.048169  0.607216
D  0.630847  0.842219
E  0.384938  0.675279

In [98]:
df['New'] = df['W'] + df['Y']
df

          W         X         Y         Z       New
A  0.784522  0.687242  0.695078  0.496867  1.479600
B  0.975361  0.203528  0.299020  0.227656  1.274382
C  0.048169  0.903971  0.080104  0.607216  0.128272
D  0.630847  0.377942  0.013241  0.842219  0.644088
E  0.384938  0.551666  0.710538  0.675279  1.095476

In [99]:
df

          W         X         Y         Z       New
A  0.784522  0.687242  0.695078  0.496867  1.479600
B  0.975361  0.203528  0.299020  0.227656  1.274382
C  0.048169  0.903971  0.080104  0.607216  0.128272
D  0.630847  0.377942  0.013241  0.842219  0.644088
E  0.384938  0.551666  0.710538  0.675279  1.095476

In [100]:
df.drop('New', axis=1, inplace=True)

In [101]:
df

          W         X         Y         Z
A  0.784522  0.687242  0.695078  0.496867
B  0.975361  0.203528  0.299020  0.227656
C  0.048169  0.903971  0.080104  0.607216
D  0.630847  0.377942  0.013241  0.842219
E  0.384938  0.551666  0.710538  0.675279

In [102]:
df.drop('Z', axis=1, inplace=True)

In [103]:
df

          W         X         Y
A  0.784522  0.687242  0.695078
B  0.975361  0.203528  0.299020
C  0.048169  0.903971  0.080104
D  0.630847  0.377942  0.013241
E  0.384938  0.551666  0.710538

In [104]:
df.drop('E')

          W         X         Y
A  0.784522  0.687242  0.695078
B  0.975361  0.203528  0.299020
C  0.048169  0.903971  0.080104
D  0.630847  0.377942  0.013241

In [105]:
df

          W         X         Y
A  0.784522  0.687242  0.695078
B  0.975361  0.203528  0.299020
C  0.048169  0.903971  0.080104
D  0.630847  0.377942  0.013241
E  0.384938  0.551666  0.710538

In [106]:
df[['X','Y']]

          X         Y
A  0.687242  0.695078
B  0.203528  0.299020
C  0.903971  0.080104
D  0.377942  0.013241
E  0.551666  0.710538

### Row selection

In [107]:
df.loc['A']

W    0.784522
X    0.687242
Y    0.695078
Name: A, dtype: float64

In [108]:
df.iloc[0]

W    0.784522
X    0.687242
Y    0.695078
Name: A, dtype: float64

In [109]:
df.loc['B', 'Y']

0.2990204096528116

In [110]:
df.loc[['A','B'], [W, Y]]

NameError: name 'W' is not defined